<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}System Udostępniania Wykładów{% endblock %}</title>
        <meta name="description" content="System Udostępniania Wykładów">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Załączenie stylów Bulmy oraz ikon Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.14/css/bulma.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Własne style -->
        <link rel="stylesheet" href="{{ asset('includes/style.min.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="columns">
                    <div class="column is-6">
                        <h1><a href="{{ path('_welcome') }}"><img src="{{ asset('includes/logo.png') }}" alt="System Udostępniania Wykładów" class="logo"></a></h1>                    </div>
                    <div class="column is-6">
                        {% block header %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}" class="primary-button">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_registration_register') }}" class="primary-button">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                                <a href="{{ path('fos_user_security_login') }}" class="primary-button">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>
        <section class="section">
            <main>
                <div class="container">
                    <div class="columns nav">
                        {% block nav %}
                            <div class="column is-12">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <h2 class="title">Menu</h2>
                                    <a href="{{ path('course_index') }}" class="primary-button">Kursy</a>
                                    <a href="{{ path('file_index') }}" class="primary-button">Pliki</a>
                                    {% if is_granted("ROLE_ADMIN") %}
                                    <a href="{{ path('user_index') }}" class="primary-button">Użytkownicy</a>
                                    {% else %}
                                    <a href="{{ path('fos_user_profile_show') }}" class="primary-button">Profil</a>
                                    {% endif %}
                                {% else %}
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>
                    <div class="columns">
                        {% block body %}
                            {% block Content %} {% endblock %}
                            {% block leftContent %} {% endblock %}
                            {% block rightContent %} {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </main>
        </section>
        <footer class="footer">
            <div class="container">
                <p class="">Created by: <strong>PSIAI GROUP 36B</strong></p>
            </div>
        </footer>
    </body>
</html>