{% extends 'base.html.twig' %}

{% block body %}
<div class="column is-6">
    <h2 class="title">Kurs</h2>

    <table class="table is-hoverable is-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ course.nazwa }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('course_index') }}" class="primary-button">Wróć do listy kursów</a>
        </li>
        <li>
            <a href="{{ path('course_edit', { 'id': course.id }) }}" class="primary-button">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń" class="primary-button">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
