{% extends 'base.html.twig' %}

{% block body %}
<div class="column is-12">
    <h2 class="title">Lista użytkowników</h2>

    <table class="table is-hoverable is-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Typ konta</th>
                <th>Status aktywności</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.typeAccount }}</td>
                <td>{{ user.enabled }}</td>
                <td>
                    <a href="{{ path('user_show', { 'id': user.id }) }}" class="primary-button">Pokaż</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="primary-button">Edytuj</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
