{% extends 'base.html.twig' %}

{% block body %}
<div class="column is-6">
    <h2 class="title">Użytkownik</h2>

    <table class="table is-hoverable is-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Typ konta</th>
                <td>{{ user.typeAccount }}</td>
            </tr>
            <tr>
                <th>Status aktywności</th>
                <td>{{ user.enabled }}</td>
            </tr>
            <tr></tr>
        </tbody>
    </table>

    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="primary-button">Edytuj</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Usuń" class="primary-button">
    {{ form_end(delete_form) }}

    <a href="{{ path('user_index') }}"><i class="fa fa-reply fa-2x" title="Wróć do listy użytkowników"></i></a>

</div>
{% endblock %}
